{% extends "layout.html" %}

{% block content %}

<!-- Page Header-->

<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}} ')">



    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panal</h1>
                    <span class="subheading">manage your posts and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

        <h1>Basic Actions</h1>
        <a href="/edit/0"><button btn btn-dark btn btn-outline-secondary btn-sm>Add a New Post</button></a>
        <hr>
        <a href="/logout"><button btn btn-dark btn btn-outline-secondary btn-sm>Logout</button></a>



        <hr>
        <form action="/uploder" method="POST" enctype="multipart/form-data">
            <label for="file1">Select a file:</label>
            <input type="file" id="file1" name="file1">
        <button type="submit" class="btn btn-dark btn btn-outline-secondary btn-sm" >submit</button>
        </form>  
            
            
            <hr>

            <h1>Edit posts</h1>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SNO</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    {% for post in posts%}
                    <tr>
                        <td>{{post.sno}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.date}}</td>
                        <td><a href="/edit/{{post.sno}}"><button class="btn btn-dark btn btn-outline-secondary btn-sm">Edit</button></a></td>
                        <td><a href="/delete/{{post.sno}}"><button class="btn btn-dark btn btn-outline-secondary btn-sm">Delete</button></a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}